{{> nav}}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    {{#header}}
    <h1>{{blurb}}</h1>
    <p>{{detail}}</p>
    <p><a class="btn btn-primary btn-lg" href="/apply" role="button">Apply now &raquo;</a></p>
    <p>{{subtext}}</p>
    {{/header}}
  </div>
</div>

{{> scripts}}
